@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/login-layout.css" /> @* Gaya khusus untuk layout login *@
</head>
<body>
    <div class="login-background">
        <div class="main">
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>

</body>
</html>

@code {
    // Anda bisa menambahkan parameter atau logika di sini jika diperlukan
}