@using Blazored.LocalStorage
@inject ILocalStorageService LocalStorage


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        @if (userType == "ADMIN")
        {
            <a class="navbar-brand" href="/home">
                <img src="images/logoVDB.png" alt="Logo Aplikasi" height="30" />
            </a>
        }
        else
        {
            <a class="navbar-brand" href="/producthome">
                <img src="images/logoVDB.png" alt="Logo Aplikasi" height="30" />
            </a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


@if (userType =="ADMIN")
{ 
<div class="@NavMenuCssClass nav-scrollable " @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="nav-link master-menu-link" @onclick="ToggleMasterSubMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Master @if (isMasterSubMenuOpen)
                {
                    <span class="oi oi-chevron-top px-2" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-chevron-bottom px-2" aria-hidden="true"></span>
                }
            </div>
            @if (isMasterSubMenuOpen)
            {
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="products">
                        <span class="oi oi-box" aria-hidden="true"></span> Product
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="productsprice">
                        <span class="oi oi-tag" aria-hidden="true"></span> Product Price
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="highlightproducts">
                        <span class="oi oi-star" aria-hidden="true"></span> Highlight Product
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="customers">
                        <span class="oi oi-people" aria-hidden="true"></span> Customer
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="customercategories">
                        <span class="oi oi-list" aria-hidden="true"></span> Cust Category
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="couriers">
                        <span class="oi oi-list" aria-hidden="true"></span> Courier
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="paymentnotes">
                        <span class="oi oi-credit-card" aria-hidden="true"></span> Payment Note
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="productcategories">
                        <span class="oi oi-folder" aria-hidden="true"></span> Product Category
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="banners">
                        <span class="oi oi-image" aria-hidden="true"></span> Banner
                    </NavLink>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <div class="nav-link master-menu-link" @onclick="ToggleTransactionSubMenu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transaction @if (isMasterSubMenuOpen)
                {
                    <span class="oi oi-chevron-top px-2" aria-hidden="true"></span>
                }
                else
                {
                    <span class="oi oi-chevron-bottom px-2" aria-hidden="true"></span>
                }
            </div>
            @if (isTransactionSubMenuOpen)
            {
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="admin_neworder">
                        <span class="oi oi-document" aria-hidden="true"></span> New Order
                    </NavLink>
                </div>
                    <div class="nav-item px-3 sub-menu">
                        <NavLink class="nav-link" href="orderhistory">
                            <span class="oi oi-document" aria-hidden="true"></span> History
                        </NavLink>
                    </div>
            }
        </div>
    </nav>
    </div>
}
else
{
 <div class="@NavMenuCssClass nav-scrollable " @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="Home">
                        <span class="oi oi-box" aria-hidden="true"></span> Transaction
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="neworderdetail">
                        <span class="oi oi-tag" aria-hidden="true"></span> New Order
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="productusercart">
                        <span class="oi oi-document" aria-hidden="true"></span> Cart / Wish List
                    </NavLink>
                </div>
                <div class="nav-item px-3 sub-menu">
                    <NavLink class="nav-link" href="orderhistory">
                        <span class="oi oi-document" aria-hidden="true"></span> History
                    </NavLink>
                </div>
        </div>
    </nav>
 </div>

}
@code {
    private bool collapseNavMenu = true;
    private bool isMasterSubMenuOpen = false;
    private bool isTransactionSubMenuOpen = false;
    private string userType;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        userType = await LocalStorage.GetItemAsync<string>("usertype");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleMasterSubMenu()
    {
        isMasterSubMenuOpen = !isMasterSubMenuOpen;
    }
    private void ToggleTransactionSubMenu()
    {
        isTransactionSubMenuOpen = !isTransactionSubMenuOpen;
    }
}