@code {
    private bool isVisible = false;
    private string message = "";
    private string icon = "";
    private string modalColor = "bg-danger"; // Default merah

    public void Show(string msg, string iconClass, int isError)
    {
        message = msg;
        icon = iconClass;

        // Tambahkan kondisi untuk warna orange jika isError == 2
        modalColor = isError switch
        {
            0 => "bg-success",  // Hijau untuk sukses
            1 => "bg-danger",   // Merah untuk error
            2 => "bg-warning",  // Orange untuk warning
            _ => "bg-danger"
        };

        isVisible = true;
        StateHasChanged();
    }

    private void CloseModal()
    {
        isVisible = false;
    }
}

@if (isVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header @modalColor text-white">
                    <h5 class="modal-title"><i class="@icon"></i> Notification</h5>
                    <button type="button" class="btn-close text-white" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body text-center">
                    <p>@message</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">OK</button>
                </div>
            </div>
        </div>
    </div>
}
