@page "/counter"

@using System.Text.Json
@using Blazored.LocalStorage
@using Radzen
@using Radzen.Blazor
@using Models
@using System.ComponentModel.DataAnnotations

@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage // Jika Anda menggunakan Blazored.LocalStorage
@inject IJSRuntime JSRuntime // Jika perlu untuk JSInterop
@inject Services.ProductServices ProductService


<h3>ProductPriceDetail</h3>

@code {


    protected override async Task OnInitializedAsync()
    {
        var itemId = await LocalStorage.GetItemAsync<string>("selectedProductId");
        var Data = await ProductService.GetPriceProduct(itemId ?? "");

        Console.WriteLine(Data);

    }

}

