@page "/counter"


<MudTabs>
    <MudTab Label="Tab 1">
        <MudText Typo="Typo.h6">Konten untuk Tab 1</MudText>
        <p>Ini adalah konten pertama dalam tab pertama.</p>
    </MudTab>
    <MudTab Label="Tab 2">
        <MudText Typo="Typo.h6">Konten untuk Tab 2</MudText>
        <p>Ini adalah konten kedua dalam tab kedua.</p>
    </MudTab>
    <MudTab Label="Tab 3">
        <MudText Typo="Typo.h6">Konten untuk Tab 3</MudText>
        <p>Ini adalah konten ketiga dalam tab ketiga.</p>
    </MudTab>
</MudTabs>

@code {
    private bool _drawerOpen = true;
}

